/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.bgc-dark-blue {
  background-color: #081580;
}

.bgc-blue {
  background-color: #00B6DD;
}

.color-dark-blue {
  color: #081580;
}

.color-blue {
  color: #00B6DD;
}

.outline-2px-blue {
  border: 2px solid #00B6DD;
}

body {
  font-family: "Nota Sans", sans-serif;
  background-color: #fff;
  color: #010101;
  font-size: 13px;
}

a {
  color: #010101;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

.title-1 {
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 109.677% */
}

.title-2 {
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 109.677% */
  letter-spacing: 2.7px;
}

.title-3 {
  color: #010101;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: 1.8px;
}
.title-3-md {
  color: #010101;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: 1.8px;
  display: none;
}
.title-3-ssm {
  color: #010101;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
  letter-spacing: 1.6px;
  display: none;
}
.title-3-xs {
  color: #010101;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
  letter-spacing: 1.5px;
  display: none;
}

.text {
  color: #010101;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 1.1px;
}
.text-md {
  color: #010101;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 1.1px;
  display: none;
}
.text-ssm {
  color: #010101;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  letter-spacing: 0.9px;
  display: none;
}

.btn {
  width: 160px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 1.1px;
}

.wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 396px;
  background: url(./../img/wrapper/wrapper-bg-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.wrapper::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.6);
}
.wrapper__title {
  width: 750px;
  max-height: 136px;
  position: absolute;
  color: #fff;
  text-align: center;
  top: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 3px;
  overflow: hidden;
}

.cards {
  margin-bottom: 100px;
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  width: 360px;
  height: 500px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}
.card::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #D3D8E4;
  z-index: -1;
}

.card__top {
  height: 210px;
  margin-bottom: 8px;
}
.card__top_picture {
  height: 170px;
}

.card__top_signature {
  margin-top: 20px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 0.8px;
  overflow: hidden;
  height: 100%;
  max-height: 20px;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 222px;
}

.card__bottom--title {
  margin-bottom: 16px;
  width: 300px;
  overflow: hidden;
  max-height: 60px;
}

.card__bottom--text {
  width: 300px;
  margin-bottom: 28px;
  overflow: hidden;
  max-height: 78px;
}

.card__bottom--button {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-4-extra {
  display: none;
}

.category {
  position: absolute;
  left: 0;
  top: 12px;
  padding: 6px 15px 8px 16px;
  height: 36px;
  width: 106px;
  z-index: 1;
}
.category-marketing {
  position: absolute;
  left: 0;
  top: 12px;
  padding: 6px 15px 8px 16px;
  height: 36px;
  width: 208px;
  z-index: 1;
}
.category-marketing-md {
  position: absolute;
  left: 0;
  top: 12px;
  padding: 6px 15px 8px 16px;
  height: 36px;
  width: 208px;
  z-index: 1;
  display: none;
}
.category-development {
  position: absolute;
  left: 0;
  top: 12px;
  padding: 6px 15px 8px 16px;
  height: 36px;
  width: 229px;
  z-index: 1;
}

.category__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 22px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 169.231% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  overflow: hidden;
}
.category__text-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 22px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 169.231% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  overflow: hidden;
  display: none;
}

.cta {
  background-color: #010101;
  padding: 100px 0;
}

.cta__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta__title {
  margin-bottom: 22px;
  color: #00B6DD;
  width: 555px;
  max-height: 136px;
  overflow: hidden;
}

.cta__left {
  max-height: 328px;
  padding-top: 28px;
  padding-bottom: 26px;
  margin-right: 125px;
}

.cta__text {
  width: 555px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: 1.7px;
  margin-bottom: 38px;
  max-height: 90px;
  overflow: hidden;
}

.cta__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta__buttons-left {
  margin-right: 16px;
}

.slider {
  padding: 100px 0;
  background-color: #fff;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  overflow: hidden;
  margin-bottom: 40px;
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__arrows--left {
  margin-right: 25px;
}

.slide .category-development {
  display: none;
}

.slide .category-marketing-md {
  display: block;
}

.slide .category__text-md {
  display: block;
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 940px;
  }
  .title-1,
  .title-2 {
    font-size: 54px;
    line-height: 60px;
    /* 111.111% */
    letter-spacing: 2.5px;
  }
  .title-3,
  .title-3-md {
    font-size: 20px;
    line-height: 28px;
    /* 140% */
  }
  .wrapper {
    background: url(../img/wrapper/wrapper-bg-992.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    margin-bottom: 80px;
  }
  .wrapper__title {
    width: 617px;
    top: 100px;
    max-height: 120px;
  }
  .cards {
    margin-bottom: 80px;
  }
  .cards__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 455px;
    height: 470px;
  }
  .card__bottom {
    height: 194px;
  }
  .card-2 {
    display: none;
  }
  .card-5 {
    display: none;
  }
  .card-6 {
    display: none;
  }
  .card__bottom--title,
  .card__bottom--text {
    width: 395px;
  }
  .card__bottom--title {
    max-height: 56px;
  }
  .card__bottom--text {
    max-height: 52px;
  }
  .card__bottom--text .text {
    display: none;
  }
  .text-md {
    display: block;
  }
  .card-4-extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-3 .title-3 {
    display: none;
  }
  .card-3 .category-development {
    display: none;
  }
  .category-marketing-md {
    display: block;
    overflow: hidden;
  }
  .category__text-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title-3-md {
    display: block;
  }
  .cta {
    padding: 80px 0;
  }
  .cta__left {
    margin-right: 30px;
    padding-top: 26px;
    padding-bottom: 15px;
    max-height: 294px;
  }
  .cta__title {
    width: 455px;
    max-height: 120px;
    margin-bottom: 18px;
  }
  .cta__text {
    width: 455px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    max-height: 84px;
    margin-bottom: 29px;
  }
  .cta__buttons .btn {
    width: 150px;
  }
  .slider {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .wrapper {
    background: url(./../img/wrapper/wrapper-bg-770.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 276px;
    margin-bottom: 60px;
  }
  .title-1,
  .title-2 {
    text-align: center;
    font-size: 46px;
    line-height: 48px;
    /* 104.348% */
    letter-spacing: 2px;
  }
  .title-3,
  .title-3-md {
    font-size: 18px;
    line-height: 26px;
    /* 144.444% */
    letter-spacing: 1.5px;
  }
  .text,
  .text-md {
    font-size: 14px;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: 1px;
  }
  .wrapper__title {
    width: 470px;
    top: 80px;
    height: 100%;
    max-height: 100px;
  }
  .cards {
    margin-bottom: 60px;
  }
  .card {
    width: 345px;
    height: 440px;
    padding: 28px;
  }
  .category-marketing {
    width: 190px;
    height: 32px;
  }
  .category-marketing-md {
    width: 190px;
    height: 32px;
  }
  .category__text {
    font-size: 12px;
    line-height: 20px;
    /* 166.667% */
    letter-spacing: 0.5px;
  }
  .category__text-md {
    font-size: 12px;
    line-height: 20px;
    /* 166.667% */
    letter-spacing: 0.5px;
  }
  .card__top {
    height: 186px;
    margin-bottom: 7px;
  }
  .card__top_picture {
    height: 150px;
  }
  .card__top_signature {
    font-size: 12px;
    line-height: 18px;
  }
  .card__bottom {
    height: 192px;
  }
  .card__bottom--title,
  .card__bottom--text {
    width: 289px;
  }
  .card__bottom--title {
    margin-bottom: 12px;
    max-height: 52px;
  }
  .card__bottom--text {
    margin-bottom: 25px;
    max-height: 66px;
  }
  .cta {
    padding: 70px 0;
  }
  .cta__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cta__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
    padding: 0;
    width: 595px;
    max-height: 228px;
  }
  .cta__title {
    width: 595px;
    margin-bottom: 14px;
    height: 98px;
  }
  .cta__text {
    width: 595px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
  }
  .cta__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn {
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 18px;
    /* 150% */
    letter-spacing: 0.8px;
  }
  .cta__buttons .btn {
    width: 140px;
  }
  .slider {
    padding: 60px 0;
  }
  .slider__wrapper {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 546px;
  }
  .wrapper {
    background: url(./../img/wrapper/wrapper-bg-576.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 236px;
    margin-bottom: 50px;
  }
  .cta__title {
    width: 450px;
  }
  .cta__text {
    max-height: 78px;
  }
  .wrapper__title {
    width: 450px;
    top: 60px;
  }
  .cards {
    margin-bottom: 50px;
  }
  .card {
    width: 258px;
    height: 448px;
    padding: 16px;
  }
  .category-marketing {
    width: 190px;
    height: 32px;
    top: 0;
  }
  .category-marketing-md {
    width: 190px;
    height: 32px;
    top: 0;
  }
  .card__top {
    height: 170px;
    margin-bottom: 7px;
  }
  .card__top_picture {
    height: 140px;
  }
  .card__top_signature {
    font-size: 12px;
    line-height: 18px;
    margin-top: 13px;
  }
  .card__bottom {
    height: 236px;
  }
  .card__bottom--title {
    margin-bottom: 9px;
    height: 100%;
    max-height: 104px;
  }
  .card__bottom--text {
    margin-bottom: 20px;
    height: 100%;
    max-height: 66px;
  }
  .card__bottom--title,
  .card__bottom--text {
    width: 226px;
  }
  .card__bottom--button {
    margin-bottom: 1px;
  }
  .title-3,
  .title-3-md {
    display: none;
  }
  .text,
  .text-md {
    display: none;
  }
  .title-3-ssm {
    display: block;
  }
  .text-ssm {
    display: block;
  }
  .cta {
    padding: 60px 0;
  }
  .cta__left {
    width: 450px;
    max-height: 254px;
  }
  .cta__text {
    width: 450px;
    margin-bottom: 29px;
  }
  .cta__title {
    margin-bottom: 15px;
  }
  .slider {
    padding: 50px 0;
  }
  .slider__wrapper {
    margin-bottom: 20px;
  }
  .slider .category-marketing,
  .slider .category-marketing-md {
    top: 0;
  }
  .slider .card {
    padding: 16px;
  }
  .slider__arrows--left {
    margin-right: 18px;
  }
  .arrow-left-img,
  .arrow-right-img {
    height: 22px;
    width: 11px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    width: 290px;
  }
  .wrapper {
    background: url(./../img/wrapper/wrapper-bg-320.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 274px;
  }
  .wrapper__title {
    width: 290px;
    top: 60px;
    height: 100%;
    max-height: 150px;
  }
  .card {
    width: 290px;
    height: 448px;
  }
  .card-4 {
    display: none;
  }
  .card-4-extra {
    display: none;
  }
  .card__bottom--title,
  .card__bottom--text {
    width: 258px;
  }
  .title-3-ssm {
    display: none;
  }
  .title-3-xs {
    display: block;
  }
  .text-ssm {
    display: none;
  }
  .text-md {
    display: block;
  }
  .cards__wrapper {
    grid-template-columns: 1fr;
  }
  .cta {
    padding: 50px 0;
  }
  .cta__left {
    width: 290px;
    margin-bottom: 30px;
    max-height: 380px;
  }
  .cta__title {
    width: 290px;
    height: 150px;
    max-height: 150px;
    margin-bottom: 10px;
  }
  .cta__text {
    width: 290px;
    height: 100%;
    max-height: 104px;
  }
  .cta__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta__buttons-left {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .cta__buttons .btn {
    width: 290px;
  }
  .slider__arrows {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
